<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuOcKntET5xnmvDEe0xh1tVoiInU3AHpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1087797528615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fleetingframes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>carpark-cd8f3</string>
	<key>STORAGE_BUCKET</key>
	<string>carpark-cd8f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087797528615:ios:575720b2e4d0aedaaca602</string>
</dict>
</plist>